
.btnAnimate::after {
    content:'';
    width: 350px;
    height: 350px;
    background: white;
    display: block;
    position: absolute;
    top: 0;
    right: 60%;
    transform: rotate(45deg);
    z-index: 0;
    transition: .3s ease-in-out
}
.btnAnimate:hover:after {
    right: -10vh;
}